.item {
  text-align: center;
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: 18px;
  overflow: hidden;
  color: #fff;
  line-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  cursor: pointer;
}

.item span {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
}
